body {
    margin: 0;
    padding: 0;
    position: relative;
}

#main-wrapper {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel {
    position: absolute;
}

.header-main {
    height:76px;
    position:relative;
}

#panel-top {
    left:0;
    width:100%;
    height:76px;
}

#panel-left {
    left: 0;
    width: 100%;
}

#panel-left.overflow-scroll {
    overflow-y:scroll;
    overflow-x:hidden;
}

#panel-center {
    left: 100%;
    width: 100%;
}

#panel-right {
    left: 100%;
    width: 100%;
    padding-right: 50px;
}

#panel-center
, #panel-right {
    top:76px
}

#panel-left.animate {
    left: -100%;
}

#panel-center.animate {
    left: 0%;
}

.user-menu  .user-options {
    background: #FA8F1C url(../img/orange-bg.png);
    height: 40px;
    width: 100%;
}

#mycourses {
    overflow: auto;
    width: 100%;
}

#add-site h1,
#add-site form {
    margin: 0 auto;
    width: 90%;
}

/* Panel Content */

.panel-content #top {
    padding:1em;
}

.panel-content header.header {
    margin:0 0 1em 56px;
    min-width:80%;
    max-width:100%;
    padding:0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .panel-content header {
        width:80%;
    }
}

/* Panel Content - Accordion */

.panel-content .nav-item {
    position:relative;
    border-top:none;
}

.panel-content .nav-item ul li {
    border:none;
}

.panel-content ul li ul {
    background-color:#f8f7f8
}

.panel-content .nav-item .toogler + ul
, .panel-content .nav-item .toogler + ul ul {
    padding:10px 50px 10px 10px;
    width:auto;
}

.panel-content.find .nav-item .toogler + ul {
    padding-bottom:0;
}

.panel-content div.sections {
    clear:both;
    width:91%;
    margin:0 -69px 0 69px;
}

.panel-content div.collapse
, .panel-content .nav-item {
    background-color:#f8f7f8;
}

.panel-content header.header .header-detail {
    margin-top:1em;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 767px) {
    .panel-content div.sections {
        width:74%;
    }
}

@media  only screen and (min-width: 768px)  and (-webkit-min-device-pixel-ratio: 1) {

    #add-site h1,
    #add-site form {
        margin: 0 auto;
        width: 70%;
    }

    #panel-left{
        width: 30%;
    }

    #panel-center {
        left: 0%;
        width: 33%;
        display: block;
    }

    #panel-right{
        left: 33%;
        width: 67%;
        padding: 0px;
        display: block;
    }
}
