body
, input
, #add-site input {
    font-family:'open sans', arial, sans-serif;
}

body {
    color:#49484c;
   font-size:0.9rem;  /* 14px base font for elements without specific font size. */
}

body
, .nav-item > a {
    font-weight:400;
}

.header-main {
    background-color:#fff;
    box-shadow: none;
}

/* Generic Fonts. */

h1 {
    font-size:3rem;
    font-weight:300;
}

h2.name {
    font-size:2rem;
    font-weight:300;
}

a {
    font-size:1rem;
}

h3 a {
    font-size:1.3rem;
    font-weight:600;
}

/* Buttons. */

button
, .button
, input[type="submit"]
, #add-site input[type="submit"] {
    background:none #9bae20;
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
    font-family:'open sans', arial, sans-serif;
}

#add-site button.remember-option {
    color:#7c7a80;
    border:solid 1px #d3d2d5;
    border-radius:0;
    text-transform: capitalize;
}

#add-site .remember-option.selected {
    background-color:#7c7a80;
    color:#fff;
}

/* Login. */

#add-site {
    background: none #fff;
    padding-bottom:700px;
}

#add-site #login-remember {
    width:80%;
}

#add-site #remember-details {
    color:#7c7a80;
    font-size:1em;
}

#add-site input {
    background-color:#dad9dc;
    color:#fff;
    font-weight:bold;
}

#add-site h1 {
    width:190px;
}

#add-site h1 img {
    width:208px;
    height:auto;
}

#helplogin a {
    color:#7c7a80;
}

/* Navigation. */

.panel.user-menu {
    background-color:#222328;
}

.panel.user-menu a {
    color:#fff;
}

/* Content. */

.panel-content h1
, h2.name {
    color:#9bae20;
}

.panel-content div.expand {
    background-color:#fff;
}

.panel-content .nav-item {
    border-bottom:solid 1px #dad9dc;
}

.panel-content .nav-item:first-child {
    border-top:solid 1px #dad9dc;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) {
    .panel-content h3[class*="title"]
    , .panel-content .question-title
    , .panel-content .category-title
    , .panel-content .sub-item-title {
        padding-top:4px;
    }
}

/* Dialog. */

#app-dialog > div {
    background-color:#9bae20;
}

/* Programs. */

div.program-info {
    margin-top:1em;
}

div.program-info ul {
    list-style-type:none;
}

#program-end-note
, #program-end-note + p {
    margin-top:1em;
    margin-left:20px;
}

#program-progress {
    display: inline-block;
    height: 15px;
    background-color: #9bae20;
    position: relative;
    top: 3px;
}

.panel-content.program span[class*="completion"] {
    position:relative;
    float:right;
    top:0;
    right:12px;
}

.panel-content.program section ul.submenu {
    margin-left:0.61538rem
}

.panel-content.detail .nav-item ul li {
    padding-top:0.7rem;
}

.panel-content.detail .nav-item ul li:first-child {
    padding-bottom:0.7rem;
}

.panel-content.detail .nav-item ul li.nav {
    border-top:solid 1px #d3d2d5;

}

/* My Bookings. */

.panel-content.my-bookings section > ul {
    list-style-type:none;
    margin:10px;
}

.panel-content .my-bookings-sections {
    padding:14px;
    background-color:#dad9dc;
}

/* Tasks. */

.panel-content.tasks .submenu.items {
    padding-bottom:24px;
}

.panel-content.tasks .nav-item .toogler + ul {
    padding-left:60px;
}

.panel-content.tasks a.button {
    display:inline;
    font-size:0.8rem;
}
