body
, input
, #add-site input {
    font-family:'open sans', arial, sans-serif;
}

body {
    color:#49484c;
   font-size:0.9rem;  /* 14px base font for elements without specific font size. */
}

body
, .nav-item > a {
    font-weight:400;
}

.header-main {
    background-color:#fff;
    box-shadow: none;
}

/* Generic Fonts. */

h1 {
    font-size:48px;
    font-size:3rem;
    font-weight:300;
}

h2.name {
    font-size:29px;
    font-size:2rem;
    font-weight:300;
}

h3 {
    font-size:21px;
    font-size:1.3rem;
    font-weight:600;
}

a {
    font-size:1rem;
}

h3 a {
    font-size:21px;
    font-size:1.3rem;
    font-weight:600;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) {
    h1 {
        font-size:2.5rem;
    }

    h3 a {
        font-size:1.1rem;
    }
}

/* Buttons. */

button
, .button
, input[type="submit"]
, #add-site input[type="submit"]
, #add-site input[type="submit"]:hover
, #add-site input[type="submit"]:active {
    background:none #9bae20;
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
    font-family:'open sans', arial, sans-serif;
    font-size:1.2rem;
}

.button {
    padding:15px 7px;
}

button
, .button
, #add-site input[type="submit"]
, .panel-content input[type="submit"]
, #button-container button {
    min-height:56px;
    min-width:180px;
    width:auto;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) {
    button
    , .button
    , input[type="submit"]
    , #add-site input[type="submit"]
    , #add-site input[type="submit"]:hover
    , #add-site input[type="submit"]:active {
        font-size:1.1rem;
    }
}

#add-site button.remember-option {
    color:#7c7a80;
    border:solid 1px #d3d2d5;
    border-radius:0;
    text-transform: capitalize;
    width:49%;
    height:auto;
}

#add-site .remember-option.selected {
    background-color:#7c7a80;
    color:#fff;
}

#add-site input[type="submit"] {
    float:none;
    width:100%;
    font-style:normal;
}

#button-container button.cancel
, button#cancel
, a#cancel {
    font-size:0.9rem;
}

button#cancel
, a#cancel {
    width:auto;
}

button.plus
, button.minus {
    min-width:30px;
    min-height:30px;
}

.panel-content.home button
, .panel-content.home a.button {
    width:60%;
}

/* Panels. */

#panel-top {
    border-bottom:solid 1px #dad9dc;
}

/* Login. */

#add-site {
    background: none #fff;
    padding-bottom:700px;
    padding-top:2rem;
}

#add-site form {
    width:60%;
}

#add-site #login-remember {
    width:100%;
    margin:0;
    padding:0;
}

#add-site #remember-details {
    color:#7c7a80;
    font-size:1em;
}

#add-site input {
    background-color:#dad9dc;
    color:#fff;
    font-weight:bold;
}

#add-site h1 {
    width:190px;
}

#add-site h1 img {
    width:208px;
    height:auto;
}

#add-site fieldset + p {
    margin-top:4px;
}

#helplogin a {
    color:#7c7a80;
}

/* Home. */

.panel-content.home button.view-menu
, .home .button.view-courses {
    text-align:left;
    padding:12px 40px 12px 12px
}

.home .button.view-courses span {
    display:block;
    margin-left:2px;
    margin-top:4px;
}

@media only screen and (min-device-width : 234px) and (max-device-width:480px) and (orientation:portrait)  {
    .panel-content.home button.view-menu
    , .panel-content.home a.button {
        width:70%;
        max-width:70%;
    }
}

/* Navigation. */

.panel.user-menu {
    background-color:#222328;
}

.panel.user-menu a {
    color:#fff;
}

.panel.user-menu .menu-items-indicator {
    position:absolute;
    right:18px;
    font-size:0.8rem;
    opacity:0.7;
    background-color:#323137;
    padding:4px 10px;
    border-radius:4px;
    width:34px;
    text-align:center;
}

.header-main #top-nav .nav-item {
    padding:0 2%;
}

.header-main #top-nav .nav-item .menu-items-new
, .panel.user-menu .menu-items-new {
    position:absolute;
    right:6px;
    top:3px;
    background-color:#e83187;
    border-radius:12px;
    color:#fff;
    font-size:0.8rem;
    width:1.5rem;
    height:1.5rem;
    text-align:center;
    line-height:1.5rem;
}

.header-main #top-nav .nav-item .menu-items-new {
    right:4px;
    top:4px;
}

.header-main #top-nav .nav-item > a span {
    color:#7c7a80;
}

/* Content. */

.panel-content h1
, h2.name {
    color:#9bae20;
}

h2.name {
    line-height:2rem;
    margin-top:-4px;
}

.panel-content div.expand {
    background-color:#fff;
}

.panel-content .nav-item {
    border-bottom:solid 1px #9a979b;
}

.panel-content .nav-item:first-child {
    border-top:solid 1px #9a979b;
}

.panel-content .nav-item .nav-item {
    border-top:solid 1px #d3d2d5;
    margin-right:10px;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) {
    .panel-content h3[class*="title"]
    , .panel-content .question-title
    , .panel-content .category-title
    , .panel-content .sub-item-title {
        padding-top:4px;
    }
}

/* Dialog. */

#app-dialog > div {
    background-color:#9bae20;
}

/* Programs. */

div.program-info {
    margin-top:1em;
}

div.program-info ul {
    list-style-type:none;
}

#program-end-note
, #program-end-note + p {
    margin-top:1em;
    margin-left:20px;
}

#program-progress {
    display: inline-block;
    height: 15px;
    background-color: #9bae20;
    position: relative;
    top: 3px;
}

.panel-content.program span[class*="completion"] {
    position:relative;
    float:right;
    top:0;
    right:12px;
}

.panel-content.program section ul.submenu {
    margin-left:0.61538rem
}

.panel-content.detail .nav-item ul li {
    padding-top:0.7rem;
}

.panel-content.detail .nav-item ul li:first-child {
    padding-bottom:0.7rem;
}

.panel-content.detail .nav-item ul li.nav {
    border-top:solid 1px #d3d2d5;

}

/* My Bookings. */

.panel-content.my-bookings section > ul {
    list-style-type:none;
    margin:10px;
}

.panel-content .my-bookings-sections {
    padding:14px;
    background-color:#dad9dc;
}

/* Required Learning. */

.panel-content .my-programs .nav-item:first-child
, .panel-content .my-required-learning .nav-item:first-child {
    border-top:none;
}

.panel-content div.expand.no-items {
    background:none;
}

.panel-content div.expand.no-items a {
    color:#dad9dc;
    cursor:default;
}

/* Settings. */

.panel-content.settings #list ul:nth-child(2) li:first-child {
    border-top:none
}

/* Alerts / Tasks. */

.panel-content.info .submenu.items {
    padding-bottom:24px;
}

.panel-content.info .submenu.items .item {
    background-color:#f4f4f4;
    padding:10px 10px 20px 10px;
}

.panel-content.info .nav-item .toogler + ul {
    padding-left:60px;
    padding-right:110px;
}

.panel-content.info .submenu.items ul {
    margin-left:20px;
    background-color:transparent;
}

.panel-content.info a.button {
    display:inline-block;
    font-size:0.8rem;
    margin-top:10px;
    width:auto;
}

.button.view-menu {
    background:url('../img/totara/sprites/white-icons-sprite.png') scroll no-repeat 98% 10px #9bae20;
}

.home .button.view-courses {
    background:url('../img/totara/sprites/white-icons-sprite.png') scroll no-repeat 98% -48px #9bae20;
}

/* Unsupported activities. */

.unsupported .sections a {
    width:50%;
}

.unsupported .sections a#cancel {
    width:45%;
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) and (orientation:portrait) {
    .unsupported .sections a {
        width:80%;
    }

    .unsupported .sections a#cancel {
        width:75%;
    }
}

@media only screen and (min-device-width : 234px) and (max-device-width : 480px) {
    .panel-content.info .nav-item .toogler + ul {
        padding-left:20px;
        padding-right:70px;
    }

    .tasks .item .text_to_html {
        word-wrap:break-word;
    }

    .tasks .item a[title="Attendees"] {
        font-size:0.8rem;
    }

}

@media only screen and (max-device-width : 480px) and (orientation: portrait) {
    #add-site form {
        width:80%;
    }
}

@media only screen and (max-device-width : 480px) and (orientation: landscape) {
    #add-site form {
        width:60%;
    }
}


